html 
{
	background-color: #000000;
}

body
{
	font-family: Arial, Verdana;
	font-size: 2em;
	background-image: url("akatsuki.png");
	background-color: #858585;
	background-size: 400px 250px;
	background-repeat: no-repeat;
	background-position: right bottom;
	border: 10px #EEEEEE solid;
	margin: 2%;
	box-sizing: border-box;
}

h1
{
	font-size: 2em;
	font-weight: bold;
}

h2
{
	font-style: Verdana;
	font-size: 1em;
	text-decoration: underline;
}

h3
{
	font-style: Verdana;
	font-size: 1em;
}

nav
{
	line-height: 1.4em;
}

nav ul 
{
	list-style: none;
	padding: 0;
}

nav li 
{
	display: inline-block;
	padding: 0.9em;
}

nav a 
{
	text-decoration: none;
	font-style: Verdana;
	font-size: 1.3em;
	background-color: #C22E3D;
	padding: 8px 15px;
	color: #000000;
	font-weight: bold;
}

a:hover
{
	background-color: #775959;
}

section
{
	width: 40%;
	float: left;
	margin-right: 8%;
	text-align: justify;
}

#clear
{
	clear: both;
}

@media all and (max-width: 600px)
{
	section
	{
		width: 100%;
		float: none;
		margin-right: 0;
	}
}